image: cypress/included:12.10.0  # Use Cypress base image for testing

services:
  - docker:dind

variables:
  MYSQL_ROOT_PASSWORD: "root"
  MYSQL_DATABASE: "redmine"
  MYSQL_USER: "redmine"
  MYSQL_PASSWORD: "redmine"
  REDMINE_DB_ADAPTER: "mysql2"
  REDMINE_DB_HOST: "mysql"
  REDMINE_DB_PORT: "3307"
  REDMINE_DB_DATABASE: "redmine"
  REDMINE_DB_USERNAME: "redmine"
  REDMINE_DB_PASSWORD: "redmine"
  PLUGIN_DIR: "/usr/src/redmine/plugins/redmine_plus_automation_community"  # Correct plugin path for Redmine container
  REDMINE_SECRET_KEY_BASE: "fa0257bdcf409dfacec9462c72ec1248484357ab9ec5ebd2403ce44a8bd313835122e1c762f5984a45ca72a82c2638b86aa7eea5a2b936d62af22e64eaac1453"

stages:
  - Redmine 5 specs
  - Redmine 6 specs
  - Redmine 5 E2E
  - Redmine 6 E2E

include:
  - local: '.gitlab/ci/redmine_5_rspec.yml'
  - local: '.gitlab/ci/redmine_6_rspec.yml'
  - local: '.gitlab/ci/redmine_5_e2e.yml'
  - local: '.gitlab/ci/redmine_6_e2e.yml'