<%
  attrs = @automation_rule.attributes
  attrs["project_id"] = params[:project_id]
  attrs["plugin_edition"] = "community"
%>
<div id="my-plugin-root" data-automation-rule="<%= attrs.to_json %>"></div>

<%= javascript_include_tag 'redmine_plus_automation_bundle', plugin: :redmine_plus_automation %>