#admin-menu a.automation-rules { background-image: url(../images/automation.png)}
.icon-automation { background-image: url(../images/automation.png); }
.icon-stop { background-image: url(../images/stop.png); }
